@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&family=Secular+One&display=swap');

html {
    scroll-behavior: smooth;
  }

  .title-remates {
    margin-left: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .title-remates-visible {
    opacity: 1;
    transform: translateX(0);
  }

.card {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #ffff;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    border-radius: 10px;
    height: 300px;
    /* transform: translate(-50%, -50%); */
    /* margin: 0 auto; */
}

.card-image {
    margin-right: 10px;
    height: 100%;
}

.card-image img {
    width: 445px;
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 700px) {
  .title-remates-visible {
    opacity: none;
    transform: none;
  }
}
